@charset "utf-8";
body {
	background-color: #FF0004;
}
h1 { 
font-family: 'Oswald', sans-serif;
}body main {
    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
	font-family: 'Oswald', sans-serif;
}
body section {
	font-family: 'Oswald', sans-serif;
}
